{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

    
{% if user.is_authenticated %}
	{% if user.id == profile.user.id %}
		<h1>Edit Profile Page...</h1>
		<br/><br/>

		<div class="form-group">
	<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-secondary">Update Profile Page</button>
		</div>



	{% else %}

	You are not the correct User To Edit This Page...
	{% endif %}

{% else %}

	You're not allowed here! (and you know it...)


{% endif %}


{% endblock %}