{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    

<h1>Login...</h1>
<br/><br/>

<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		
<div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username"> 
</div>


  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  
  </div>

<br/>
		<button class="btn btn-secondary">Login</button>
</div>
</form>
<br/>

Not Registered? Sign Up <a href="{% url 'register' %}">Here...</a>




{% endblock %}