{% extends 'base.html' %}
{% block title %}Create A New Blog Post!{% endblock %}
{% block content %}

    
{% if user.is_authenticated %}
	<h1>Add Post...</h1>
	<br/><br/>

	<div class="form-group">
<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.media }}
			{{ form.as_p }}
			<button class="btn btn-secondary">Post</button>
	</div>

	<script>
		var name = "{{ user.id }}";
		
		document.getElementById("elder").value = name;

	</script>

{% else %}

You're not allowed here! (and you know it...)

{% endif %}



{% endblock %}