{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}



{% block content %}

	<h1>{{ post.title }}</h1>
	<small>By: 
		{{ post.author.first_name }} 
		{{ post.author.last_name }} - 
		{{ post.post_date }}  
		
		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
				- <a href="{% url 'update_post' post.pk %}">(Edit)</a>

				<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
			{% endif %}
		{% endif %}
	</small><br/>
	<hr>
	<br/>
	
	{% if post.header_image %}
		<img src="{{ post.header_image.url }}">
	{% endif %}

	<br/><br/>
	{{ post.body|safe }}

	<hr>
	

	<form action="{% url 'like_post' post.pk %}" method="POST">
		{% csrf_token %}
	
	{% if user.is_authenticated %}
		{% if liked %}
			<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
		{% else %}	
			<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 

		{% endif %}
	{% else %}
		<small><a href="{% url 'login' %}">Login</a> to like</small>
	{% endif %}
	
		- {{ total_likes }} Likes
	
	</form>



<br/>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">

{% else %}
	<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">
{% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
        	{{ post.author.first_name }} 
			{{ post.author.last_name }}
		</h5>

<p class="small text-muted">
	
	<a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>

	{% if post.author.profile.website_url %}
		| <a href="{{ post.author.profile.website_url }}">  Website</a>  
	{% endif %}

	
	{% if post.author.profile.facebook_url %}
		 | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>  
	{% endif %}


	{% if post.author.profile.twitter_url %}
		| <a href="{{ post.author.profile.twitter_url }}">Twitter</a> 
	{% endif %}


	{% if post.author.profile.instagram_url %}
		| <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
	{% endif %}


	{% if post.author.profile.pinterest_url %}
		| <a href="{{ post.author.profile.pinterest_url }}">Pinterest</a>
	{% endif %}


</p>


<p class="card-text">
        	{{ post.author.profile.bio }}
        </p>
        
      </div>
    </div>
  </div>
</div>

<br/>


<h1>Comments...</h1>
<br/>
{% if not post.comments.all %}
	No Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One</a>
{% else %}

<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/>

	{% for comment in post.comments.all %}
		<strong>
			{{ comment.name }} - 
			{{ comment.date_added }}
		</strong>
		<br/>
		{{ comment.body }}
		<br/><br/>
		
	
	{% endfor %}
		<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% endif %}
<br/>



<br/><br/>
{% endblock %}